div.container
  div.row
    div.col-xs-12
      div.page-header
        h1 About Numismastery
      p Numismastery started as a Master's Degree final class project, undertaken by site creator Chris Crook in Fall 2015 in order to demonstrate a site utilizing big-data platforms, specifically Hbase running on top of Hadoop for scalability (which has since been converted to MongoDB to keep costs down).
      p After graduating, Chris brought on friend and fraternity brother Justin Hill as a fellow developer on he project and placed the site under Charm City Labs, LLC, a company established for tech side projects.
      p The team will be continuing to add functionality to the site and ultimately bring it live and out of the proof-of-concept/beta stage, with hopes of partnering with a 3rd party coin grading service.
      br
      p
        span Numismastery is in beta testing, and is currently supported by ads.  In order to help us cover costs of operating the site, please consider visiting our sponsors.
        span Once the site is production-ready, we'll be offering subscription plans that provide ad-free browsing and monthly coin upload credits.
        span 
      br
      p We'd love to hear your feedback.  Please let us know what you think either through the &nbsp;
        a(ui-sref="support") Support page
        span  or
          a(href="mailto:support@charmcitylabs.atlassian.net")  email
div.text-center
  include ../includes/adsense-header
