div.div.container
  div.row
    div.col-xs-12
      h1 Upload Your Coin
      form(name="userCoinUpload" ng-submit="upload(coinToUpload)").form
        div(ng-show="user.coinCredits==0").alert.alert-danger
          p You don't have any coin credits to upload coins!
        div(ng-show="user.coinCredits>0").alert.alert-success
          p You current have {{user.coinCredits > 1 ? user.coinCredits + " credits" : user.coinCredits + " credit"}} to use uploading coins.
        div(ng-show="user.coinCredits > 0")
          fieldset
            legend
              h2 Step 1: Enter Coin Information

            div.form-group
              label Select a Strike Type:
              div
                label(for="regular").control-label
                  input(type="radio" ng-model="coinToUpload.proof" id="regular" name="proofs" ng-value="0")
                  span Regular Strike
                  span(ng-bind="(lookups.coinSeries | filter:proof(0)).length + ' Series'").badge.label.label-default.m-right-1em.m-left-1em
              div
                label(for="proofs").control-label
                  input(type="radio" ng-model="coinToUpload.proof" id="proofs" name="proofs" ng-value="1")
                  span Proof
                  span(ng-bind="(lookups.coinSeries | filter:proof(1)).length + ' Series'").badge.label.label-default.m-right-1em.m-left-1em

            div.form-group
              label Select a Series:
                select(id="series" ng-model="coinToUpload.series" ng-options="series._id as series._id for series in lookups.coinSeries | filter:proof(coinToUpload.proof) | orderBy:predicate:reverse").form-control

              div.row
                div(class="col-xs-3")
                  div.form-group
                    label Year:
                    input(name="year", type="number" min="1792" step="1" ng-model="coinToUpload.year", placeholder="Year", ng-required="true").form-control
                div(class="col-xs-3")
                  div.form-group
                    label Mint Mark:
                    select(placeholder="Mint Mark", name="mintmark" ng-model="coinToUpload.mintmark" ng-options="mintmark.value as mintmark.text for mintmark in lookups.mintmarks | orderBy:mintmarkpredicate:mintmarkreverse").form-control

          fieldset
            legend
              h2 Step 2: Select Photos
            div.form-group
              div
                button(onclick="$('#obverse').click()" type="button").btn.btn-default
                  span.glyphicon.glyphicon-picture
                  span   Select Obverse Photos
                input(ng-hide="true" ngf-select="" ng-model="coinToUpload.images.obverse", name="file", ngf-accept="'image/*'", type="file", ngf-multiple="true" ng-required="true" id="obverse")
              div(ng-repeat="img in coinToUpload.images.obverse" style="margin-top: 1em;").upload-preview.thumbnail
                img(ngf-src="img", ngf-resize="{width: 100, quality: 0.9}")
                span(class="progress" ng-show="img.progress >= 0")
                  div(style="width:{{img.progress}}%" ng-bind="img.progress + '%'")
            div.form-group
              div
                button(onclick="$('#reverse').click()" type="button").btn.btn-default
                  span.glyphicon.glyphicon-picture
                  span   Select Reverse Photos
              input(ng-hide="true" ngf-select="" ng-model="coinToUpload.images.reverse", name="file", ngf-accept="'image/*'", type="file", ngf-multiple="true" ng-required="true" id="reverse")
              div(ng-repeat="img in coinToUpload.images.reverse").upload-preview.thumbnail
                img(ngf-src="img", ngf-resize="{width: 100, quality: 0.9}")
                span(class="progress" ng-show="img.progress >= 0")
                  div(style="width:{{img.progress}}%" ng-bind="img.progress + '%'")
            div.form-group
              div
                button(onclick="$('#edge').click()" type="button").btn.btn-default
                  span.glyphicon.glyphicon-picture
                  span   Select Edge Photos
              input(ng-hide="true" ngf-select="" ng-model="coinToUpload.images.edge", name="file", ngf-accept="'image/*'", type="file", ngf-multiple="true" id="edge").btn.btn-success
              div(ng-repeat="img in coinToUpload.images.edge").upload-preview.thumbnail
                img(ngf-src="img", ngf-resize="{ height: 100, quality: 0.9}")
                span(class="progress" ng-show="img.progress >= 0")
                  div(style="width:{{img.progress}}%" ng-bind="img.progress + '%'")

          fieldset
            legend
              h2 Step 3: Submit
            p Note: You can view the coins you have uploaded by clicking on your username in the upper right-hand corner of the screen.
            //-
            div.center-block.text-center
              div.row.form-group(vc-recaptcha key="'6Lc2bRkTAAAAANyaziSUoRhyf5N2fWBfABei4AKa'" ng-model="coinToUpload['g-recaptcha-response']").g-recaptcha
            div(ng-show="errors").alert.alert-danger
              ul
                li(ng-repeat="error in errors" ng-bind="error")
            button(type="submit" ).btn.btn-success Upload Coins
          div.text-center
            include ../includes/adsense-header
