div.container
  div.row
    div.col-xs-12
      div.page-header
        h1 Contact
      p You can reach the development team at
        a(href="mailto:team@charmcitylabs.com") &nbsp; team[at]charmcitylabs.com.
  div.text-center
    include ../includes/adsense-header
