div.page-header
  h1 Disclaimer

h3 CHARM CITY LABS LLC MAKES NO GUARANTEE OF VALIDITY

p Numismastery is an online open-content collaborative grading service; that is, a voluntary association of individuals and groups working to develop consensus on coin grades. The structure of the project allows anyone with an Internet connection to alter its content. Please be advised that nothing found here has necessarily been reviewed by people with the expertise required to provide you with complete, accurate or reliable information.

p That is not to say that you will not find valuable and accurate information in Numismastery; much of the time you will. However, Charm City Labs LLC cannot guarantee the validity of the information found here. The content of any given article may recently have been changed, vandalized or altered by someone whose opinion does not correspond with the state of knowledge in the relevant fields. Note that most other encyclopedias and reference works also have disclaimers.

h4 No formal peer review
p Our active community of users monitor new and changing content. However, Numismastery is not uniformly peer reviewed; while readers may correct errors or engage in casual peer review, they have no legal duty to do so and thus all information read here is without any implied warranty of fitness for any purpose or use whatsoever. Even articles that have been vetted by informal peer review or featured article processes may later have been edited inappropriately, just before you view them.

p None of the contributors, sponsors, administrators or anyone else connected with Numismastery in any way whatsoever can be responsible for the appearance of any inaccurate or libelous information or for your use of the information contained in or linked from these web pages.

h4 No contract; limited license
p Please make sure that you understand that the information provided here is being provided freely, and that no kind of agreement or contract is created between you and the owners or users of this site, the owners of the servers upon which it is housed, the individual Numismastery contributors, any project administrators, sysops or anyone else who is in any way connected with this project or sister projects subject to your claims against them directly. You are being granted a limited license to copy anything from this site; it does not create or imply any contractual or extracontractual liability on the part of Numismastery or any of its agents, members, organizers or other users.

h4 Trademarks
p Any of the trademarks, service marks, collective marks, design rights or similar rights that are mentioned, used or cited in the articles of the Numismastery encyclopedia are the property of their respective owners. Their use here does not imply that you may use them for any purpose other than for the same or a similar informational use as contemplated by the original authors of these Numismastery articles under the CC-BY-SA and GFDL licensing schemes. Unless otherwise stated Numismastery  sites are neither endorsed by nor affiliated with any of the holders of any such rights and as such Numismastery cannot grant any rights to use any otherwise protected materials. Your use of any such or similar incorporeal property is at your own risk.

h4 Jurisdiction and legality of content
p Publication of information found on Numismastery may be in violation of the laws of the country or jurisdiction from where you are viewing this information. The Numismastery database is stored on servers in the United States of America, and is maintained in reference to the protections afforded under local and federal law. Laws in your country or jurisdiction may not protect or allow the same kinds of speech or distribution. Numismastery does not encourage the violation of any laws, and cannot be responsible for any violations of such laws, should you link to this domain or use, reproduce or republish the information contained herein.

h4 Not professional advice
p If you need specific advice (for example, medical, legal, financial or risk management), please seek a professional who is licensed or knowledgeable in that area.
