meta(name="google-signin-client_id" content="157076150488-0n9jui1o0uadpus7slf25l8qgm9fbcpu.apps.googleusercontent.com")

div
	div.col-xs-12.col-md-6.col-lg-4.col-lg-offset-4
		div.panel.panel-default
			div.panel-heading
				h4.text-center Forgot Password
			div.panel-body
				form(ng-submit="sendPasswordReset()", name="loginForm").form.col-lg-12
					p Please enter your email address below to reset your password.
					p You will receive an email containing password reset instructions.
					div.row.form-group
						label Email:
						input(name="email", ng-model="email" required).form-control

					div.row.form-group
						input(type="submit", value="Reset Password").btn.btn-danger.form-control
					div(ng-show="error").alert.alert-danger

					div.visible-lg.visible-md.visible-sm.visible-xs.text-center
						br
						br
						br
						include ../includes/adsense-header
