div
  h1.text-center {{ selectedSeries }}

  div.container
    div.row
      div.col-xs-12.col-lg-4
        div(ng-if="gradingResults")
          div.panel.panel-default
            div.panel-heading
              h3 Coin Information
            div.panel-body
              ul.list-unstyled
                li
                  label Year & Mintmark:
                  span(ng-bind="$parent.gradingResults.date_mintmark")
                li(ng-if="$parent.gradingResults.denomination != 'null'")
                  label Denomination:
                  span(ng-bind="$parent.gradingResults.denomination")
                li
                  label Country:
                  span(ng-bind="$parent.gradingResults.country")
                li
                  label Series:
                  span(ng-bind="$parent.gradingResults.series")
              //-
                li
                a(ng-href="{{gradingResults.coinFactsURL}}", target="_blank") View on CoinFacts

      div(ng-if="gradingResults.image_url" style="margin-bottom: 20px;").col-lg-8.col-xs-12.text-center.row
          img(ng-src="{{gradingResults.image_url}}"  taggable-image zoomable-image ng-model="imageTags").coin-image

      div( style="margin-bottom: 20px;").col-lg-8.col-xs-12.text-center.row
          img(ng-src="{{selected_image}}").coin-image

      div.row(ng-if="gradingResults.images.obverse.length > 0")
        div.col-xs-8
          label Obverse
          ul(style="border: 1px solid black; padding: 1em; margin-bottom: 1.5em;").list-unstyled
            li(ng-repeat="image in gradingResults.images.obverse")
              a(href="javascript:;", ng-click="select(image)")
                img(ng-src="{{awsUrl + image.amazonKey}}", width="100", height="100")
      div.row(ng-if="gradingResults.images.reverse.length > 0")
        div.col-xs-8
          label Reverse
          ul(style="border: 1px solid black; padding: 1em; margin-bottom: 1.5em;").list-unstyled
            li(ng-repeat="image in gradingResults.images.reverse")
              a(href="javascript:;", ng-click="select(image)")
                img(ng-src="{{awsUrl + image.amazonKey}}", width="100", height="100")
      div.row(ng-if="gradingResults.images.edge.length > 0")
        div.col-xs-8
          label Edge
          ul(style="border: 1px solid black; padding: 1em; margin-bottom: 1.5em;").list-unstyled
            li(ng-repeat="image in gradingResults.images.edge")
              a(href="javascript:;", ng-click="select(image)")
                img(ng-src="{{awsUrl + image.amazonKey}}", width="100", height="100")
  div(ng-if="gradingResults")
    div.container
      div.row
        div.col-xs-12.col-lg-4
          div(ng-if="gradingResults.userGrade").panel.panel-primary
            div.panel-heading
              h3.text-center Your Grade
            div.panel-body
                h1(ng-bind="gradingResults.userGrade.value | letterGrade : grades").text-center
            div
              p(ng-if="gradingResults.user.proximity.pro.offBy > 0")
                label Your Grade was {{gradingResults.user.proximity.pro.offBy}} grades {{proximity.pro.highOrLow}} the professional graders.
                span
              p(ng-if="gradingResults.user.proximity.pro.offBy == 0")
                label Your Grade was the same as the professional graders.
                span
            div
              p(ng-if="gradingResults.user.proximity.crowd.offBy > 0")
                label Your Grade was {{gradingResults.user.proximity.crowd.offBy}} grades {{proximity.crowd.highOrLow}} the crowd-grade of other users on this site.
                span
              p(ng-if="gradingResults.user.proximity.crowd.offBy == 0")
                label Your Grade was the same as the aggregate of users on this site.
                span
        div.col-xs-12.col-lg-4
          div(ng-if="gradingResults.grade").panel.panel-info
            div.panel-heading
              h3.text-center Pro Grade
            div.panel-body
              h1(ng-bind="gradingResults.grade").text-center
        div.col-xs-12.col-lg-4
          div(ng-if="gradingResults.stats.averageUserGradeValue").panel.panel-success
            div.panel-heading
              h3.text-center Crowd Grade
            div.panel-body

              h1(ng-bind="gradingResults.stats.averageUserGradeValue | letterGrade : grades").text-center
              div
                p
                  label Total Gradings:
                  span {{gradingResults.stats.gradeCount}}
                p
                  label Standard Deviation:
                  span {{gradingResults.stats.stdDev}}
              //-
                p
                  label Most Popular Modifier:
                  span {{gradingResults.crowd.modifier}}
    fieldset
      legend Comments
      table(ng-table="commentsParams" show-filter="false").table.table-bordered.table-striped
          tr(ng-repeat="row in $data track by row._id" ng-show="$data.length > 0")
            td(title="''" filter="{dateCreated: 'text'}" sortable="'dateCreated'")
              p By: {{ row.postedBy.displayName }}
              p On: {{row.dateCreated | date : 'yyyy/MM/dd hh:mm:ss a'}}
              p Given Grade: {{row.grade.grade}}
            td(title="'Comment'" width="80%" filter="{body: 'text'}") {{row.body}}
          tr(ng-show="$data.length == 0")
            td(colspan="3") There are no comments for this coin.
          tfoot(ng-show="$data.length > 0")
            tr
              td(colspan="5" style="font-weight: bolder;") Total Comments: {{commentsParams.total()}}
      div(ng-if="gradingResults.userGrade").row
        div.col-xs-6
          button(ng-click="grade_another()").btn.btn-primary Grade Another
        div.col-xs-6
          button(ng-click="changeSeries()").btn.btn-success.pull-right Change Series
      div.row
        include ../includes/adsense
