div(ng-if="!recaptchaRequired")
  h1(ng-bind="fields.selectedSeries._id").text-center

  div.container
    div.row
      div.col-xs-12.col-lg-4
        div(ng-if="coinToGrade")
          div.panel.panel-default
            div.panel-heading
              h3 Coin Information
            div.panel-body
              ul.list-unstyled
                li
                  label Year & Mintmark:
                  span(ng-bind="$parent.coinToGrade.date_mintmark")
                li(ng-if="$parent.coinToGrade.denomination != 'null'")
                  label Denomination:
                  span(ng-bind="$parent.coinToGrade.denomination")
                li(ng-if="$parent.coinToGrade.series")
                  label Country:
                  span(ng-bind="$parent.coinToGrade.country")
                li(ng-if="$parent.coinToGrade.series")
                  label Series:
                  span(ng-bind="$parent.coinToGrade.series")
                li
                  button(type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#reportCoinModal") Report Coin
              //-
                li
                a(ng-href="{{coinToGrade.coinFactsURL}}", target="_blank") View on CoinFacts


      div(ng-if="coinToGrade.image_url" style="margin-bottom: 20px;").col-lg-8.col-xs-12.text-center.row
          img(ng-src="{{coinToGrade.image_url}}"  taggable-image zoomable-image ng-model="imageTags").coin-image

      div( style="margin-bottom: 20px;").col-lg-8.col-xs-12.text-center.row
          img(ng-src="{{selected_image}}").coin-image

      div.row(ng-if="coinToGrade.images.obverse.length > 0")
        div.col-xs-8
          label Obverse
          ul(style="border: 1px solid black; padding: 1em; margin-bottom: 1.5em;").list-unstyled
            li(ng-repeat="image in coinToGrade.images.obverse")
              a(href="javascript:;", ng-click="select(image)")
                img(ng-src="{{image}}", width="100", height="100")
      div.row(ng-if="coinToGrade.images.reverse.length > 0")
        div.col-xs-8
          label Reverse
          ul(style="border: 1px solid black; padding: 1em; margin-bottom: 1.5em;").list-unstyled
            li(ng-repeat="image in coinToGrade.images.reverse")
              a(href="javascript:;", ng-click="select(image)")
                img(ng-src="{{image}}", width="100", height="100")
      div.row(ng-if="coinToGrade.images.edge.length > 0")
        div.col-xs-8
          label Edge
          ul(style="border: 1px solid black; padding: 1em; margin-bottom: 1.5em;").list-unstyled
            li(ng-repeat="image in coinToGrade.images.edge")
              a(href="javascript:;", ng-click="select(image)")
                img(ng-src="{{image}}", width="100", height="100")

  div(ng-if="!gradingResults").row.col-xs-12
    div.col-xs-12.col-lg-6.col-lg-offset-3
      div.panel.panel-default
        div.panel-heading
          h4 Enter Grading Information
        div(style="height: auto;").panel-body
          form.form

            div.panel.panel-default
              div.panel-heading Selected Grade
              div.panel-body
                h2(ng-bind="lookups.grades[gradeData.selectedUserGrade].grade").text-center
                p(ng-bind="lookups.grades[gradeData.selectedUserGrade].description")
            div.form-group
              label(for="grade") Grade:
              select(id="grade" ng-options="idx as grade.grade for (idx, grade) in lookups.grades" ng-model="gradeData.selectedUserGrade").form-control
            //-
              div(ng-model="gradeData.selectedUserGrade"  ui-slider="gradeSliderOptions" data-tick="" data-step="1" ).form-group
            div.form-group
              label(for="comments") Comments:
              textarea(id="comments" ng-model="gradeData.Comments").form-control
              //-
                  tr
                    td
                      label Grade Suffix:
                    td
                      div.form-group
                        select(id="series" ng-model="gradeData.suffix").form-control
                          option(value="", ng-required="true") -Select a Series Designation-
                          option(ng-repeat="option in lookups.suffix") {{option.CombinedGrade}}
                    td

                  tr
                    td
                      label Series Designation:
                    td
                      div.form-group
                        select(id="series" ng-model="gradeData.seriesDesignation").form-control
                          option(value="", ng-required="true") -Select a Series Designation-
                          option(ng-repeat="option in lookups.seriesDesignation") {{option.CombinedGrade}}
                    td

                  tr
                    td
                      label Problem Coin Designation:
                    td
                      select(id="series" ng-model="gradeData.problemCoinDesignation").form-control
                        option(value="", ng-required="true") -Is this a Problem Coin?-
                        option(ng-repeat="option in lookups.problemCoinDesignation") {{option.CombinedGrade}}
                    td
                      div.btn.btn-default.pull-left(ng-click="toggleProblemTags()") Toggle Tags

                    tr
                      td
                        label Variety Designation:
                      td
                        select(id="series" ng-model="gradeData.varietyDesignation").form-control
                          option(value="", ng-required="true") -Select a Variety-
                          option(ng-repeat="option in lookups.seriesVarieties") {{option.CombinedGrade}}
                      td
                        div.btn.btn-default.pull-left(ng-click="toggleVarietyTags()") Toggle Tags
                  tr
                    td
                      label Estimated Value:
                    td
                      input(type="text", match="[0-9]*", ng-model="gradeData.estimatedValue").form-control
                  tr
                    td
                      label Comments:
                    td
                      textarea(ng-model="gradeData.Comments").form-control
                    td

            div.form-group.text-center
              button(type="submit", ng-click="submitUserGrade()" ng-disable="!gradeData.selectedUserGrade").btn.btn-success Submit grade
            div
              div(class="modal fade" id="reportCoinModal")
                div(class="modal-dialog" role="document")
                  form()
                    div(class="modal-content")
                      div(class="modal-header")
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                          span(aria-hidden="true") &times;
                        h4(class="modal-title" id="myModalLabel") Report this Coin
                      div.modal-body
                        div.form-group
                          label Reason:
                          select(ng-options="reason for reason in coinReportingReasons" ng-model="reportCoinData.reason" required).form-control
                            option
                        div.form-group
                          label Comments:
                          textarea(required ng-model="reportCoinData.comments").form-control
                      div.modal-footer
                        button(type="button" data-dismiss="modal").btn.btn-default Cancel
                        button(type="submit" ng-click="reportCoin()" ng-disabled="reportSubmitting").btn.btn-danger Report Coin
div(ng-show="recaptchaRequired").text-center
  h3 You've been grading like a maniac!  We just want to make sure you're a human and not a robot.
  include ../includes/adsense-large
  div.center-block.text-center
    div.row.form-group(vc-recaptcha key="'6Lc2bRkTAAAAANyaziSUoRhyf5N2fWBfABei4AKa'" ng-model="recaptchaForm['g-recaptcha-response']").g-recaptcha
  div(ng-click="verifyRecaptcha()").btn.btn-success Submit
br
br
include ../includes/adsense
