link(rel="stylesheet", href="/css/fonts/glyphicons/web/html_css/css/glyphicons.css")
div.container.how-it-works
  div.row
    div.col-xs-12
      div.page-header
        h1 CrowdGrade
  div.row
    p While we acknowledge visual grading isn't fool proof, a dealer sees many more coins over the course of the 20 years/10,000 generally required to become an "expert" than does the average collector.
    p CrowdGrade is designed to accelerate the process of gaining expertise by exposing users to more coins than they might otherwise see.
  div.row
    fieldset
      legend
        h3 How It Works

      div.col-xs-12.col-md-12
        div.col-xs-10.col-md-3.center-block.text-center
          div.thumbnail
            h3 Photograph Your Coins
            span.glyphicons.glyphicons-coins
            span.glyphicons.glyphicons-camera
          div.caption
            p In order to get the most accurate grade, Numismastery recommends that you photograph your coin using a high-resolution camera or scanner, and provide images of the obverse, reverse, and edges of the coin.
        div.col-xs-10.col-md-3.center-block.text-center
          div.thumbnail
            h3 Upload to Numismastery
            span.glyphicons.glyphicons-cloud-upload
          div.caption
            p Once you've snapped photos of your coins, upload them to Numismastery and categorize them as the proper series and strike.
        div.col-xs-10.col-md-3.center-block.text-center
          div.thumbnail
            h3 Users Practice Grading
            span.glyphicons.glyphicons-group
          div.caption
            p As users practice grading and grade your coin based on the pictures provided, you'll get an idea of an approximate grade of the coin.
            p Statistics such as standard deviation are provided, and reCAPTCHA is used to prevent bots from gaming the site and distorting grades.
        div.col-xs-10.col-md-3.center-block.text-center
          div.thumbnail
            h3 CrowdGrade
            span.glyphicons.glyphicons-clock
            span.glyphicons.glyphicons-thumbs-up
          div.caption
            p Over time, user grades should converge on the average grade that represents the grade the community believes is accurate.
    div.row
      fieldset
        legend
          h3 Graders: Practice Visual Grading
        p By exposing users to numerous coins of a specific seris, in varying grades, users gain experience in being able to grade coins visually.
        p As a metric of accuracy, users are able to compare their given grade against both the professional grade given (if available) as well as the current average grade provided by our community.
    div.row
      fieldset
        legend
          h3 Submitters: Grades from the Crowd
        p Have a coin of which you're uncertain of the grade and condition?  Think your third-party grader submission was over- or under-graded?  See what the crowd thinks!
        p This site is for entertainment purposes only, as the grades provided by the users in this community should not be relied upon due to a lack of enforced peer review.
        p However, given the success of crowd-sourcing in other domains, we present the aggregate opinion of our community of users as a metric to assess coin condition.




  div.visible-lg.visible-md.visible-sm.visible-xs.text-center
    br
    br
    br
    include ../includes/adsense-header
