link(rel="stylesheet", href="/css/fonts/glyphicons/web/html_css/css/glyphicons.css")
div.container.how-it-works
  div.row
    div.col-xs-12
      div.page-header
        h1 VarietyEye
  p VarietyEye is still under development, but serves the more detailed function of identifying specific coin varieties via photo, rather than simply grading condition.

  div.row
    fieldset
      legend
        h3 How It Works
      div.col-xs-12.col-md-12
        div.col-xs-10.col-md-3.center-block.text-center
          div.thumbnail
            h3 Photograph Your Coins
            span.glyphicons.glyphicons-coins
            span.glyphicons.glyphicons-camera
          div.caption
            p Take high-quality obverse, reverse, and edge images of your coin using a scanner or USB microscope.
        div.col-xs-10.col-md-3.center-block.text-center
          div.thumbnail
            h3 Upload to VarietyEye
            span.glyphicons.glyphicons-cloud-upload
          div.caption
            p Unsure if your coin is a rare variety?  Ask the crowd by uploading it to Numismastery's VarietyEye.
        div.col-xs-10.col-md-3.center-block.text-center
          div.thumbnail
            h3 Image Tagging
            span.glyphicons.glyphicons-zoom-in
            span.glyphicons.glyphicons-screenshot
          div.caption
            p Users may tag locations on your images, noting issues (i.e. damage, evidence of cleaning, tooling, etc) as well as pick-up-points for varieties.
        div.col-xs-10.col-md-3.center-block.text-center
          div.thumbnail
            h3 VarietyEye
            span.glyphicons.glyphicons-filter-applied
          div.caption
            p As other users practice identifying varieties in various coin series, your coin will receive major and minor variety designations by users in the community.
  div.row
    fieldset
      legend
        h3 Practice Variety Identification
      p In order to improve identification of major and minor varieties, VarietyEye presents users with a coin of a specfic series and asks the user to identify it's variety.
      p Users are also able to tag locations on the image to indicate pick-up points for specific varieties.  Once the user submits their variety identification information, they can see other users' variety designations, comments, and image tags as well.
  div.row
    fieldset
      legend
        h3 Submitters: Get Help From the Crowd
      p
        span Not sure if your Morgan is in the
        a(href="http://www.vamworld.com/Top+100+Morgan+VAMs")  Top 100 VAM list?
        span   Forget to request variety specification from a third-party grader?  Is that 1922 Peace Dollar high relief or low relief?
        span  Have our community take a look!  As users practice their ability to identify specific varieties of a coin series, they will grade user-submitted coins, eventually leading to community consensus of variety (if any) for a given coin.
      p Submitters can also learn how the coin was identified by reviewing users' image tags and comments, so they will know how to identify coins of the same variety in the future.






  div.visible-lg.visible-md.visible-sm.visible-xs.text-center
    br
    br
    br
    include ../includes/adsense-header
