p Coming soon:  Import certified coins from PCGS, NGC, and ANACs.
div.page-header
  h1 Import Coins
div.container
  form
  fieldset
    legend Step 1: Select a Third Party Grader
    div.form-group
    select(ng-model="thirdPartyGrader" name="thirdPartGrader" required).form-control
      option(value="PCGS") PCGS
      option(value="NGC" disabled) NGC
      option(value="ANACS" disabled) ANACS

  fieldset
    legend Step 2: Enter Certification numbers
    em One per line, 10 max per request
    div.form-group
      textarea(type="multiple" ng-model="certNumbers" name="certNumbers" required).form-control

    div.form-group
    //-TODO: add recaptcha here to prevent abuse
    button(ng-click="importCoins()" ng-disabled="importInProgress" type="submit").btn.btn-success Import Coins
    div(ng-show="importInProgress").progress
      div(role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" ng-style="progressStyle()").progress.progress-bar
      span(ng-bind="progressText")
