meta(name="google-signin-client_id" content="157076150488-0n9jui1o0uadpus7slf25l8qgm9fbcpu.apps.googleusercontent.com")

div
	div.col-xs-12.col-md-6.col-lg-4.col-lg-offset-4
		div.panel.panel-default
			div.panel-heading
				h4.text-center Login
			div.panel-body
				form(ng-submit="login()", name="loginForm").form.col-lg-12
					div.row.form-group
						label Email:
						input(name="email", ng-model="username").form-control
					div.row.form-group
						label Password:
						input(type='password', name="password", ng-model="password").form-control
					div.row.form-group
						input(type="submit", value="Login").btn.btn-success.form-control.w-200.center-block
					div(ng-show="error" ng-bind="errorMessage").alert.alert-danger
					p.text-center
						a(href="/forgotpassword") Forgot password?

					div.row.text-center
						a(ng-href='{{getAuthUrl("/auth/facebook")}}', target="_self")
							img(src="/css/images/facebook_signin.png").w-200
					div.row.text-center
						a(ng-href='{{getAuthUrl("/auth/google")}}', target="_self")
							img(src="/css/images/google_signin.png").w-200
					div.row.form-group
						div(ng-click="signUp()").btn.btn-default.form-control.w-200.center-block Sign Up
					div.visible-lg.visible-md.visible-sm.visible-xs.text-center
						br
						br
						br
						include ../includes/adsense-header
