
div
  div.page-header.text-center
    h1 Numismastery
    h3 Helping you learn to accurately grade coins

include ../includes/offerings
div.visible-lg.visible-md.visible-sm.visible-xs.text-center
  br
  br
  br
  include ../includes/adsense-header
