h2= User.username

fieldset
  legend Account Information
  form(name="accountInfo")
    div.form-group
      label First Name:
        input(value="#{User.first_name}" ng-disabled="!editing").form-control
    div.form-group
      label Last Name:
        input(value="#{User.last_name}" ng-disabled="!editing").form-control
    div.form-group
      label Display Name:
        input(value="#{User.displayName}"  ng-disabled="!editing").form-control
    div.form-group
      label Email:
        input(value="#{User.email}"  ng-disabled="!editing").form-control
  //-
    div(ng-show="!editing").form-group
      button(ng-click="toggleEditing()").btn.btn-danger Edit
    div(ng-show="editing").form-group
      button(ng-click="submit()").btn.btn-success Save Changes
  //-
    TODO show user information form
    if(User.password)
      div.form-group
        input(type="button", ng-click="changePassword()", value="Change Password").btn.btn-danger

fieldset
  legend Subscription
  p Subscriptions are not currently active.

fieldset
  legend Grading History
  table(ng-table="gradesParams" show-filter="false").table.table-bordered.table-striped
      tr(ng-repeat="row in $data track by row._id" ng-show="$data.length > 0")
        td(title="'Date Graded'" filter="{dateCreated: 'text'}" sortable="'dateGraded'") {{row.dateGraded | date : 'yyyy/MM/dd hh:mm:ss a'}}
        td(title="'Coin'")
          a(ng-href="/grading-results/{{row.coin._id}}")
            img(ng-src="{{row.coin.image_url}}")
        td(title="'Your Grade'" filter="{grade: 'text'}")
          h3 {{row.grade.grade}}
      tfoot(ng-show="$data.length > 0")
        tr
          td(colspan="5" style="font-weight: bolder;") Total Graded: {{gradesParams.total()}}
      tr(ng-show="$data.length == 0")
        td(colspan="3") You haven't graded any coins!
          a(ui-sref="start-grading") Start grading now.

fieldset
  legend Uploaded Coins
  table(ng-table="uploadedCoinsParams" show-filter="false").table.table-bordered.table-striped
      tr(ng-repeat="row in $data track by row._id" ng-show="$data.length > 0")
        td(title="'Date Uploaded'" filter="{dateCreated: 'text'}" sortable="'dateCreated'")
          p {{row.dateCreated | date : 'yyyy/MM/dd hh:mm:ss a'}}
          div(ng-click="deleteCoin(row._id)").btn.btn-danger Delete
        td(title="'Coin'")
          a(ng-href="{{'/grading-results/' + row._id}}")
            img(ng-src="{{row.image_url}}" style="max-height: 10vh;")
        td(title="'Series'") {{row.series.series}}
        td(title="'# of Grades'") {{row.gradedBy.length}}
        td(title="'CrowdGrade'") {{row.stats.averageUserGrade | letterGrade : grades}}
      tfoot(ng-show="$data.length > 0")
        tr
          td(colspan="5" style="font-weight: bolder;") Total Uploaded: {{uploadedCoinsParams.total()}}
      tr(ng-show="$data.length == 0")
        td(colspan="3") You haven't uploaded any coins!
        //-
          TODO: if the user has a subscription, link to upload page.  If not, then link to subscription page
          a(ui-sref="start-grading") Start grading now.

fieldset
  legend Comment History
  table(ng-table="commentsParams" show-filter="false").table.table-bordered.table-striped
      tr(ng-repeat="row in $data track by row._id" ng-show="$data.length > 0")
        td(title="'Date Posted'" filter="{dateCreated: 'text'}" sortable="'dateCreated'") {{row.dateCreated | date : 'yyyy/MM/dd hh:mm:ss a'}}
        td(title="'Coin'") {{row.coin}}
        td(title="'Comment'" filter="{body: 'text'}") {{row.body}}
      tr(ng-show="$data.length == 0")
        td(colspan="3") You haven't commented on any coins!
      tfoot(ng-show="$data.length > 0")
        tr
          td(colspan="5" style="font-weight: bolder;") Total Comments: {{commentsParams.total()}}
fieldset
  legend Achievement Badges
  p Coming Soon: Badge issuance via
    a(href="http://openbadges.org/" target="_blank") Mozilla Open

div.visible-lg.visible-md.visible-sm.visible-xs.text-center
  br
  br
  br
  include ../includes/adsense-header
  //-
    TODO: Support for showing users badges (i.e. Morgan Dollar Hero, "King Midas" (really good at gold coins))
