meta(name="google-signin-client_id" content="157076150488-0n9jui1o0uadpus7slf25l8qgm9fbcpu.apps.googleusercontent.com")

div
	div.col-xs-12.col-md-6.col-lg-4.col-lg-offset-4
		div.panel.panel-default
			div.panel-heading
				h4.text-center Reset Password
			div.panel-body
				form(ng-submit="resetPassword()", name="loginForm").form.col-lg-12
					div.row.form-group
						label Email:
						p(name="email", ng-bind="email")
					div.row.form-group
						label New Password:
						input(name="password", type="password", ng-model="password").form-control
					div.row.form-group
						label Confirm New Password:
						input(name="confirm", type="password", ng-model="confirm").form-control
					div.row.form-group
						input(type="submit", value="Submit").btn.btn-danger.form-control
					div(ng-show="error").alert.alert-danger

					div.visible-lg.visible-md.visible-sm.visible-xs.text-center
						br
						br
						br
						include ../includes/adsense-header
