div.container
  div.row
    div.col-xs-6.col-lg-offset-3
      div.panel.panel-default
        div.panel-heading Set Username
        div.panel-body
          h3.text-center Welcome to Numismastery!
          div.form-group Please set a publicly-visible username below:
          div.form
            form(ng-submit="submitUsername()")
              div.form-group
                label(for='username') Username:
                  input(type='text', class="form-control", placeholder="Username", name="username", ng-model="username", required="required").form-control
              div.form-group
                input(type="submit", class="btn btn-success" value="Set Username" ng-disabled="submitting")
          div(ng-if="errors")
            ul.list-unstyled
              li(ng-repeat="error in errors") {{error}}
