div
  div
      div.page-header
        h1 Sign Up
      div.alert.alert-success
        h3.text-center Sign up during the beta phase and get 25 free coin upload credits!
      div(id="accordion" role="tablist" aria-multiselectable="true").panel-group
      div.panel.panel-default
        div(role="tab" id="headingGoogle").panel-heading
          h4.panel-title.text-center
            a(href='/auth/google', target="_self")
              img(src="/css/images/google_signin.png" height="50")
        div.panel.panel-default
          div(role="tab" id="headingFacebook").panel-heading
            h4.panel-title.text-center
              a(href='/auth/facebook', target="_self")
                img(src="/css/images/facebook_signin.png" height="50")
        div.panel.panel-default
          div(role="tab" id="headingLocal").panel-heading
            h3(style="font-size: x-large;").panel-title.text-center
              a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne") Don't have Facebook or Google?
          div(id="collapseOne" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingLocal")
            div.panel-body
              form(ng-submit="submit()" name='signup').form.col-xs-12.col-md-6.col-md-offset-3
                div.row.form-group
                  label First Name:
                  input(name="first_name", ng-required="true", ng-model="signUpForm.first_name").form-control
                div.row.form-group
                  label Last Name:
                  input(name="last_name", ng-required="true", ng-model="signUpForm.last_name").form-control
                div.row.form-group
                  label Desired Display Name (visible to public):
                  input(name="displayName", ng-required="true", ng-model="signUpForm.displayName" ng-model-options="{debounce: 500}").form-control
                  span.text-danger(ng-if="displayNameTaken == true") {{ "The username " + signUpForm.displayName + " is already in taken.  Please choose a different one."}}
                div.row.form-group
                  label Email (hidden to public):
                  input(name="email", ng-required="true", ng-model="signUpForm.email" type="email").form-control
                div.row.form-group
                  label Confirm Email:
                  input(name="confirmEmail", ng-required="true", ng-model="signUpForm.confirm_email"  type="email").form-control
                  span.text-danger(ng-if="emailsMatch == false") Email addresses must match.
                div.row.form-group
                  label Password:
                  input(type='password', name="password", ng-required="true", ng-model="signUpForm.password").form-control
                div.row.form-group
                  label Confirm Password:
                  input(type='password', name="confirm_password", ng-required="true", ng-model="signUpForm.confirm_password").form-control
                  span.text-danger(ng-if="passwordsMatch == false") Passwords must match.
                div.row.form-group(vc-recaptcha key="'6Lc2bRkTAAAAANyaziSUoRhyf5N2fWBfABei4AKa'" ng-model="signUpForm['g-recaptcha-response']").g-recaptcha
                div.row.form-group
                  input(type="submit", value="Sign Up" ng-disabled='(submitting || signup.$invalid)').btn.btn-success.form-control

                div(ng-show="errors.length > 0").alert.alert-danger
                  ul
                    li(ng-repeat="error in errors" ng-bind="error")





        div.row.text-center
          a(href="/login") Already have an account?  Sign In.
