
div(style="position: fixed; top: 0; left: 0; height: 100%; width: 100%; overflow-y: scroll;").wide.animate-show
  div.col-xs-5.line &nbsp;
  div.col-xs-2.logo
    div(style="max-width: 1000px;").content
      img(src="/css/images/logo.png")
  div.col-xs-5.line &nbsp;
  div.row
    include ../../includes/offerings
  div.visible-lg.visible-md.visible-sm.visible-xs.text-center
    br
    br
    br
    include ../../includes/adsense-header

      //.
        a(href="" ng-click="toggleHeader()")
          h1
            span(style="color:white;").glyphicon.glyphicon-upload &nbsp;
