div.container
  div.row
    div.page-header
      h1 Start Grading
    div.col-xs-12.col-md-4.col-md-offset-4
      fieldset
        legend
          h3 Step 1: Select a Strike Type
        div.form-group
          div
            label(for="regular").control-label
              input(type="radio" ng-model="proofs" id="regular" name="proofs" ng-value="0")
              span Regular Strike
              span(ng-bind="(lookups.coinSeries | filter:proof(0)).length + ' Series'").badge.label.label-default.m-right-1em.m-left-1em

          div
            label(for="proofs").control-label
              input(type="radio" ng-model="proofs" id="proofs" name="proofs" ng-value="1")
              span Proof
              span(ng-bind="(lookups.coinSeries | filter:proof(1)).length + ' Series'").badge.label.label-default.m-right-1em.m-left-1em

      fieldset
        legend
          h3 Step 2: Select a Series
        div.form-group
          label In order to start grading, please select a coin series:
          select(id="series" ng-model="fields.selectedSeries" ng-options="series._id for series in lookups.coinSeries | filter:proof(proofs) | orderBy:predicate:reverse").form-control

  div.row
    div.visible-lg.visible-md.visible-sm.visible-xs.text-center
      br
      br
      br
      include ../includes/adsense-header
