div.container
  div.row
    div.col-xs-12
      div.page-header
        h1 Subscriptions
      h4
        em Coming Soon:
      p Sign up for a Numismastery subscription!
      p Enjoy an ad-free experience, no restriction on the number of coins graded, and receive coin upload credits each month.
      fieldset
        legend
          h2 Subscription Plans Compared
        table.table.table-bordered.table-striped.subscriptions
          thead
            tr
              th
              th
                h2 Free
              th
                h2.copper Copper ($10/month)
              th
                h2.silver Silver ($20/month)
              th
                h2.gold Gold ($100/month)
          tbody
            tr
              td
                h3 No Ads
              td
                h1(style="color: red").glyphicon.glyphicon-remove
              td
                h1(style="color: green").glyphicon.glyphicon-check
              td
                h1(style="color: green").glyphicon.glyphicon-check
              td
                h1(style="color: green").glyphicon.glyphicon-check
            tr
              td
                h3 Coin Upload Credits/Month
              td
                h1(style="color: red").glyphicon.glyphicon-remove
                em *3 free upload credits on sign up.
              td
                h1 2
              td
                h1 5
              td
                h1 Unlimited
            tr
              td
                h3 CrowdGrade: Coin Grades/Month
              td
                h1 1000
              td
                h1 Unlimited
              td
                h1 Unlimited
              td
                h1 Unlimited
            tr
              td
                h3 VarietyEye: Coin Grades/Month
              td
                h1 100
              td
                h1 Unlimited
              td
                h1 Unlimited
              td
                h1 Unlimited
          div.visible-lg.visible-md.visible-sm.visible-xs.text-center
            br
            br
            br
            include ../includes/adsense-header
