div.container
  div.row
    div.col-xs-12
      div.page-header
        h1 Support
      fieldset
        legend
          h3 Contact Us
        p Numismastery is currently in beta, and we appreciate any and all feedback you may have, including bugs you've discovered as well as new feature requests.
        p We'll work to remedy any issues you've experienced and deliver desired functionality as soon as possible.
        p Thanks!
        p
        a(id="feedback-button", value="Submit Support Request" href="https://charmcitylabs.atlassian.net/servicedesk/customer/portal/1").btn.btn-default Submit Support Request

      fieldset
        legend
          h3 Frequently Asked Questions
        p Coming Soon
  div.visible-lg.visible-md.visible-sm.visible-xs.text-center
    br
    br
    br
    include ../includes/adsense-header
