h2= User.username

fieldset
  legend Account Info

fieldset
  legend Grading History
  table.table.table-striped
    thead
      tr
        th Date
        th Series
        th User Grade
    tbody
      tr(ng-if="userGrades.length == 0")
        td(colspan="3") You haven't graded any coins yet.
      tr(ng-if="userGrades && userGrades.length > 0")
        td
        td
        td

fieldset
  legend Uploaded Coins
    table
      thead
        tr
          th Date Uploaded
          th Series
          th Year/mintmark
          th Total Grades
          th Crowd Grade
      tbody
        tr(ng-if="uploadedCoins.length == 0")
          td(colspan="5") You haven't uploaded any coins yet.
        tr(ng-if="userGrades && userGrades.length > 0")
          td
          td
          td
          td
          td
