.coin-image {
  width: 75%;
  height: 75%;
}
.upload-preview {
  display: inline-block;
  margin-right: 1em;
  height: 100px;
  border: 1px solid #000;
  overflow: hidden;
}


.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
.footer, .push{
  height: 4em;
}

.footer{
  border-top: 1px solid #CCC;
  background-color: #EEE;
  padding: 1em;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}


.wide {
  width:100%;
  height:100%;
  height:calc(100% - 1px);
  background-image:url('https://c.stocksy.com/a/RcN300/z0/805779.jpg');
  background-size:cover;
}

.wide img {
  width:100%;
}

.logo {
  color:#fff;
  font-weight:800;
  font-size:14pt;
  padding:25px;
  text-align:center;
}

.line {
  padding-top:20px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
  border-bottom: 1px solid white;
}
