
.navbar-brand{
  background-image: url("/css/images/logo.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 3em;
}


.coin-image {
  width: 75%;
  height: 75%;
}
.upload-preview {
  display: inline-block;
  margin-right: 1em;
  height: 100px;
  border: 1px solid #000;
  overflow: hidden;
}

.w-200{
  width: 200px;
}

.m-right-1em{
  margin-right: 1em;
}

.m-left-1em{
  margin-left: 1em;

}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
  margin-left: 0;
}

.navbar-nav > li > span.badge {
    margin-top: 15px;
}


.main-content{
  /*overflow-y: scroll;*/
}

/*.ui-view:after{
  content: "";
  display: block;
}*/
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  margin: 0 auto 10em;
  padding-top: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: -1;
}

[ui-view]{
  padding-bottom: 6em;
  margin-bottom: 6em;
}

.push, .footer {
  height: 6em;
}

[vc-recaptcha] > div > div{
  margin: auto !important;
}

.footer{
  z-index: 1;
  border-top: 1px solid #CCC;
  background-color: #EEE;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p{
  margin: 0;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body{
  -webkit-filter: none !important;
 -moz-filter: none !important;
 -o-filter: none !important;
 -ms-filter: none !important;
 filter: none !important;
 background-color: transparent;
}

html {
  background: url(/css/images/header_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /*-webkit-filter: blur(5px);
 -moz-filter: blur(5px);
 -o-filter: blur(5px);
 -ms-filter: blur(5px);
 filter: blur(5px);*/
}

.back-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.4;
    z-index: -1;
}

.navbar-default{
  background-color: rgba(255,255,255,0.75) !important;
  border-color: transparent !important;
  background-image: none;
  margin-bottom: 0 !important;
}

.nav.navbar-nav li:hover {
  background-color: #EEE;
  border-bottom: 1px solid #CCC;
  border-bottom-color: #CCC;
}

.wide {
  width:100%;
  height:100%;
  height:calc(100% - 1px);
  background-image:url('/css/images/header_background.jpg');
  background-size:cover;
}

.content{
  /*background-color: rgba(255,255,255,0.3);*/
  padding: 2em;
  margin-top: 6em;
}

.container.splash{
  padding-bottom: 10em;
}

.splash img.logo  {
  height: auto;
  width: auto;
  max-height: 50vh;
  padding-bottom: 4em;

}

#loading{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/css/images/ajax-loader.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(255,255,255,0.65);
  width:100%;
  height: 100%;
  z-index: 1000;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #aaa;
}


.logo {
  color:#fff;
  font-weight:800;
  font-size:14pt;
  text-align:center;
}

.line {
  padding-top:20px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
  border-bottom: 1px solid white;
  min-height: 5em;
}

/*.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}*/
/*
.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.how-it-works div.thumbnail{
  min-height: 25vh;
}

.how-it-works span.glyphicons{
  font-size: 3vw;
}

legend{
  border-bottom: 1px solid #aaa;
}

fieldset{
  margin-top: 1em;
  margin-bottom: 1em;
}

.wide .row{
  clear: both;
  text-align: center;
}

.offerings h2{
  color: white;
}

.btn-outlined {
  background: transparent;
  border: 1px solid white;
  padding: 1em;
  cursor: pointer;
  /*font-size: 2em;*/
  color: white;
  font-weight: bold;
}

table{
  background-color: rgba(255,255,255,.75);
}

table.subscriptions th{
  text-align: center;
}

table.subscriptions tbody td{
  text-align: center;
}

table.subscriptions tbody td:nth-child(1){
  text-align: left;
}



.copper{
  color: #A0522D;
}

.silver{
  color: #888;
}

.gold{
  color: gold;
}


/* ui-router animations - TODO: customize & make it work on the splash page*/

/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.ui-view-container {
  position: relative;
  height: 65px;
}
/*
[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}*/
