extends includes/layout

block main-content
  section.content.main-content
    div(id="loading" ng-show="loading")
    div.ui-view-container
      div(ui-view)

  //  for img in Images
  //    a(href=img.full)
  //      img(src=img.thumb)
