doctype
html
  head
    title Numismastery
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap-theme.css")
    link(rel="stylesheet", href="/ng-table/dist/ng-table.css")
    link(rel="stylesheet", href="/toastr/toastr.css")
    link(rel="stylesheet", href="/css/site.css")
    link(rel="stylesheet", href="/angular-ui/build/angular-ui.css")
    link(rel="stylesheet", href="/jquery-ui/themes/ui-lightness/jquery-ui.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="google-site-verification", content="uaqvtw0VNGWlnbnjXRv2qbdn2bgJO3nEkP74cXU05H4")
  body(ng-app='numismastery')

    div.container.splash
      div.page-header.text-center
        h1 Numismastery
      div.row
        div.col-xs-12.text-center
          a(href="home")
            img(src="/css/images/logo.png").logo
      div.row.text-center
        div(style="margin-bottom: 1.5em;").row
          a(href="/home").btn.btn-lg.btn-danger Learn More
      div.row.text-center
        div.btn-group
          a(href="/signup").btn.btn-lg.btn-primary Sign Up
          a(href="/login").btn.btn-lg.btn-success Login In

    div.wrapper
      div.push

    include includes/footer
