ins(style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-9157345923413257" data-ad-slot="5091606526").adsbygoogle
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});
