footer.footer
  div
    p.text-muted.text-center
      a(ui-sref="disclaimer") Disclaimer
    p.text-muted.text-center Powered by
      a(href="http://www.charmcitylabs.com")  Charm City Labs, LLC
    p.text-muted.text-center Copyright &copy; #{new Date().getFullYear()} Charm City Labs, LLC
    p.text-muted.text-center All trademarks are property of their respective owners.
