doctype
html
  head
    title Numismastery
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap-theme.css")
    link(rel="stylesheet", href="/ng-table/dist/ng-table.css")
    link(rel="stylesheet", href="/toastr/toastr.css")
    link(rel="stylesheet", href="/css/site.css")
    link(rel="stylesheet", href="/angular-ui/build/angular-ui.css")
    link(rel="stylesheet", href="/jquery-ui/themes/ui-lightness/jquery-ui.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="google-site-verification", content="uaqvtw0VNGWlnbnjXRv2qbdn2bgJO3nEkP74cXU05H4")
  body(ng-app='numismastery')
    include ./navigation
    //-
      img(src="/css/images/header_background.jpg").back-img

    div.container
      div
        block main-content
    div.wrapper
      div.push

    include footer
    include scripts
