div.nav.navbar.navbar-default.navbar-fixed-top
  div.container-fluid
    div.navbar-header
      button(type="button", data-toggle="collapse", data-target="#numismasteryMenu", aria-expanded="false").navbar-toggle.collapsed
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="/").navbar-brand Numismastery
        em  Beta
    div(id="numismasteryMenu").collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="/home") Home
        li.dropdown
          a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") How It Works
            span.caret
          ul.dropdown-menu
            li
              a(ui-sref="how-it-works-crowd-grade")  CrowdGrade
            li
              a(ui-sref="how-it-works-variety")  VarietyEye
            li.disabled
              a(ui-sref="" disabled).disabled  Subscriptions
        li(ng-cloak ng-show="user").dropdown
          a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") CrowdGrade
            span.caret
          ul.dropdown-menu
            li(ng-show="user" ng-cloak)
              a(ui-sref="start-grading") Grade Coins
            li(ng-show="user" ng-cloak).disabled
              a(ui-sref="import-from-tpg") Import Coins
            li(ng-show="user" ng-cloak)
              a(ui-sref="coin-upload") Upload Coin(s)
        li(ng-cloak ng-show="user").dropdown
          a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" disabled) VarietyEye
            span.caret
          ul.dropdown-menu
            li
              a(href="/home")
                em Coming Soon
            li(ng-show="user" ng-cloak).disabled
              a(ui-sref="start-grading") Identify Varieties
        li
          a(href="/about") About
        li
          a(ui-sref="support") Support
        li
          a(ui-sref="contact") Contact


      ul.nav.navbar-nav.text-center.visible-lg
        li(style="width: 200px; height: 40px;")
          include adsense-header

      ul.nav.navbar-nav.navbar-right
          li(ng-show="user" ng-cloak)
            a(ui-sref="profile" ng-bind="user.displayName")
          li(ng-show="user" ng-cloak).pull-right
            a(target="_self" href="/logout") Sign out
          li(ng-show="!user" ng-cloak)
            a(href="/login") Login
          li(ng-show="!user" ng-cloak)
            a(href="/signup") Sign Up
