div.offerings.container
  div.row.text-center
    h4(style="font-weight: bolder;") Trying to improve your visual grading skills?  Want to get better at identifying varieties?
    h4(style="font-weight: bolder;") Numismastery offers the following services:
  div.row
    div.col-xs-12.col-md-6
      div.thumbnail
        div.caption
          h3.text-center
            em(style="font: 'Arial'; font-weight: bolder;")  CrowdGrade
          p Have a coin for which you'd like an approximate grade, but don't want to spend the money on a third party grader until you're sure it's worth the cost?
          p Submit your coin to Numismastery and allow our users to refine their skills by visually grading your coin.
    div.col-xs-12.col-md-6
      div.thumbnail
        div.caption
          h3.text-center
            em(style="font: 'Arial'; font-weight: bolder;")  VarietyEye
          h4.text-center
            em Coming Soon
          p Practice identifying major and minor varieties of U.S. Coins.  Practice your ability to identify VAMs, rare large cent varieties, and more!
  div.row
    div.text-center
      a(href="#" ng-click="getStarted()").btn.btn-success.btn-lg Get Started!
