
script(type="text/javascript", src="/jquery/dist/jquery.js")
script(type="text/javascript", src="/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/angular/angular.js")
//-
  script(type="text/javascript", src="/angular-bootstrap/ui-bootstrap-tpls.js")
script(type="text/javascript", src="/angular-recaptcha/release/angular-recaptcha.js")
script(type="text/javascript", src="/angular-animate/angular-animate.js")
script(type="text/javascript", src="/angular-resource/angular-resource.js")
script(type="text/javascript", src="/angular-route/angular-route.js")
script(type="text/javascript", src="/angular-ui/build/angular-ui.js")
script(type="text/javascript", src="/angular-ui-router/release/angular-ui-router.js")
script(type="text/javascript", src="/jquery-ui/ui/jquery-ui.js")
script(type="text/javascript", src="/angular-ui-slider/src/slider.js")
script(type="text/javascript", src="/dist/ng-file-upload-all.min.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/routes.js")
script(type="text/javascript", src="/app/filters/gradeFilter.js")
script(type="text/javascript", src="/ng-table/dist/ng-table.js")
script(type="text/javascript", src="/app/services/authService.js")
script(type="text/javascript", src="/app/services/userProfileService.js")
script(type="text/javascript", src="/app/services/coinService.js")
script(type="text/javascript", src="/app/controllers/mainCtrl.js")
script(type="text/javascript", src="/app/controllers/importCtrl.js")
script(type="text/javascript", src="/app/controllers/gradeCtrl.js")
script(type="text/javascript", src="/app/controllers/startGradingCtrl.js")
script(type="text/javascript", src="/app/controllers/gradingResultsCtrl.js")
script(type="text/javascript", src="/app/controllers/coinUploadCtrl.js")
script(type="text/javascript", src="/app/controllers/signUpCtrl.js")
script(type="text/javascript", src="/app/controllers/setUsernameCtrl.js")
script(type="text/javascript", src="/app/controllers/userProfileCtrl.js")
script(type="text/javascript", src="/app/controllers/forgotpasswordCtrl.js")
script(type="text/javascript", src="/app/controllers/resetPasswordCtrl.js")
script(type="text/javascript", src="/app/controllers/termsofserviceCtrl.js")
script(type="text/javascript", src="/app/services/dataPassingService.js")
script(type="text/javascript", src="/app/controllers/loginCtrl.js")
script(type="text/javascript", src="/app/controllers/logoutCtrl.js")
script(type="text/javascript", src="/jscmagnifier/jscmagnifier.js")
script(type="text/javascript", src="/toastr/toastr.js")
script(type="text/javascript", src="/app/directives/taggableImage.js")
script(type="text/javascript", src="/app/directives/resizable.js")
script(type="text/javascript", src="/app/directives/zoomableImage.js")
script(type="text/javascript", src="/highcharts/highcharts.js")
//-
  script(type="text/javascript", src="/angular-bootstrap/ui-bootstrap.js")


script(src="https://apis.google.com/js/platform.js" async defer)
script(type="text/javascript", src="/requirejs/require.js"  data-main="/requirejs/main.js")
script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
script(src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit", async, defer)

script(type="text/javascript").
  JSCMAGNIFY_W = 500;
  JSCMAGNIFY_H = 500;
script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71275788-1', 'auto');
    ga('send', 'pageview');
