body {
	font-family:sans-serif;
	font-size:x-small;
	color:#333;
}
h1 { font-size:small; }
h2 { font-size:x-small; }
a,a:link,a:visited {
	color:#C00;
	text-decoration:none;
}
a:hover,a:active {
	color:#F00;
	text-decoration:underline;
}
.codeDiv {
	border:1px solid #CCF;
	background-color:#F9F9FF;
	font-family:monospace;
	padding:4px;
}
table {
	font-size:x-small;
}
.copyText {
	text-align:center;
	color:#606060;
	font-size:xx-small;
}
.infoBox {
	border:1px solid;
	border-color:#333 #DDD #DDD #333;
	background-color:#FFFFFC;
}